body {
    margin: 0;
    padding: 0;

    background-color: #404258;
    color: white;

    font-family: sans-serif;
}

.event-list {
    margin: auto;
    width: 90%;
}

.event-item {
    margin-top: 20px;
    padding: 20px;

    background-color: #16003B;

    border-radius: 20px;
}

.event-header {
    padding-left: 15px;
    border-left: 4px white solid;
    border-image: linear-gradient(0deg, #f3ec78, #af4261) 1;
}

.event-header h1 {
    margin-bottom: 0;
    padding-top: 10px;
    font-size: 40px;
    font-weight: 800;

    width: fit-content;
    word-wrap: none;

    background-image: linear-gradient(-90deg, #f3ec78, #af4261);
    background-clip: text;
    color: transparent;
}

.event-header h4 {
    margin-top: 0;
    padding-bottom: 15px;
}

.event-info {
    background-image: linear-gradient(-90deg, #f3ec78, #af4261);
    padding: 5px;
    border-radius: 20px;
    width: max-content;
}

.event-info h4 {
    padding: 10px;
    display: inline;

    color: #FFFFFF;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    
    font-weight: 800;
    font-size: 13px;
}

.event-item p {
    margin-top: 30px;
}